<!doctype html>
<html lang="en" ng-app="madlibs">
<head>
	<meta charset="UTF-8">
	<title>Mad Libs</title>
	<link href="css/style.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js" type="text/javascript"></script>
	<script src="scripts/app.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<div class="smiley">
			<img src="img/smiley.png"/>
		</div>
		<div class="logo">
			<img src="img/logo.png"/>
			<div class="tag">
				Automate This!
			</div>
		</div>
	</header>
	<div ng-controller="mainCtrl">
		<div class="container input-container">
			<div>
				<select ng-model="selectedGender">
					<option ng-repeat="gender in genders" ng-value="gender.val" ng-selected="gender.val == 0">
						{{gender.label}}
					</option>
				</select>
			</div>
			<h1>Provide the following words</h1>
			<div class="table-container">
				<table>
					<tr>
						<td>
							<input ng-model="name" ng-disabled="selectedGender == 0" ng-model-options="{getterSetter: true}"/>
						</td>
						<td>
							<input ng-model="jobTitle" ng-disabled="selectedGender == 0"/>
						</td>
						<td>
							<input ng-model="tediousTask" ng-disabled="selectedGender == 0"/>
						</td>
					</tr>
					<tr>
						<td>
							<input ng-model="dirtyTask" ng-disabled="selectedGender == 0"/>
						</td>
						<td>
							<input ng-model="celebrity" ng-disabled="selectedGender == 0"/>
						</td>
						<td>
							<input ng-model="uselessSkill" ng-disabled="selectedGender == 0"/>
						</td>
					</tr>
					<tr>
						<td>
							<input ng-model="adjective" ng-disabled="selectedGender == 0"/>
						</td>
						<td>
							<input ng-model="obnoxiousCelebrity" ng-disabled="selectedGender == 0"/>
						</td>
						<td>
							<input ng-model="hugeNumber" ng-disabled="selectedGender == 0"/>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="container output-container">
			<div>
				<span class="variable" ng-bind="name()"></span> was a <span class="variable">{{jobTitle}}</span> who loved technology. Although <span class="" ng-bind="subject()"></span> loved parts of <span class="" ng-bind="possession()"></span> job, <span class="" ng-bind="subject()"></span> absolutely hated <span class="variable">{{tediousTask}}</span> and <span class="variable">{{dirtyTask}}</span>. So, <span class="variable" ng-bind="name()"></span> met with <span class="" ng-bind="possession()"></span> life mentor <span class="variable">{{celebrity}}</span> who told <span class="" ng-bind="object()"></span> to learn how to <span class="variable">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="variable">{{uselessSkill}}</span> so <span class="" ng-bind="subject()"></span> studied programming instead. 
	    	</div>
	 
	 		<div>
				What a great decision! With <span class="" ng-bind="possession()"></span> new skills, <span class="variable" ng-bind="name()"></span> built a(n) <span class="variable">{{adjective}}</span> robot named <span class="variable">{{obnoxiousCelebrity}}</span> that not only loved <span class="variable">{{dirtyTask}}</span> but did it <span class="variable">{{hugeNumber}}</span> faster. 
			</div>
		</div>
	</div>
</body>
</html>